
<html>
    <head>
        <meta charset="UTF-8" />
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Favicon icon -->
        <title>{% block title %}admin{% endblock %}</title>
        {% block stylesheets %}
          <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/favicon.png') }}">
       
        <!-- This page CSS -->
        <!-- Custom CSS -->
        <link href="{{ asset('dist/css/style.min.css') }}" rel="stylesheet">
        <!-- This page CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css') }}">
        <link href="{{ asset('assets/node_modules/morrisjs/morris.css')}}" rel="stylesheet">
        <link href="{{ asset('assets/node_modules/c3-master/c3.min.css') }}" rel="stylesheet">
        <link href="{{ asset('dist/css/pages/dashboard1.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
       
      
  
    </head>
    <body>

       {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


    <div class="skin-default fixed-layout">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Elite admin</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!-- ============================================================== -->
            <!-- Topbar header - style you can find in pages.scss -->
            <!-- ============================================================== -->
            <header class="topbar">
                <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-header">
                        <a class="navbar-brand" >
                            <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="{{ asset('assets/images/logo-icon.png')}}" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="{{ asset('assets/images/logo-light-icon.png') }}" alt="homepage" class="light-logo" />
                            </b>
                       
                            <!-- Logo text --><span>
                            <!-- dark Logo text -->
                            <img src="{{ asset('assets/images/logo-text.png') }}" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->
                        <img src="{{ asset('assets/images/logo-light-text.png') }}" class="light-logo" alt="homepage" /></span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
            
               
      </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                      {% if app.request.get('_route') == 'home' %}
                      
                               <li class="nav-item dropdown">
                               <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="ti-email"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                                </a>
                                 <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                                    <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                             {% for notif in notif %}
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-danger btn-circle"><i class="icon-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>{{ notif.nom }} {{ notif.prenom }}</h5> <span class="mail-desc">joyeux anniversaire </span> 
                                                </div>
                                            </a>
                                            {% endfor %}
                                                <!-- Message -->
                                                 <img src="../assets/images/notif/annif.png" style="width: 60%; margin-left: 49px;   margin-top: 30px;">
                                                        </div>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </li>
                                        {% endif %}
                                        <!-- ============================================================== -->
                                        <!-- End Comment -->
                                        <!-- ============================================================== -->
                                        <!-- ============================================================== -->
                                        <!-- Messages -->
                                        <!-- ============================================================== -->
                                        
                                                        <!-- ============================================================== -->
                                                        <!-- End Messages -->
                                                        <!-- ============================================================== -->
                                                        <!-- ============================================================== -->
                                                        <!-- mega menu -->
                                                        <!-- ============================================================== -->
                                                        <div class="dropdown-menu animated bounceInDown">
                                                            <ul class="mega-dropdown-menu row">
                                                                <li class="col-lg-3 col-xlg-2 m-b-30">
                                                                    <h4 class="m-b-20">CAROUSEL</h4>
                                                                    <!-- CAROUSEL -->
                                                                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                                                        <div class="carousel-inner" role="listbox">
                                                                            <div class="carousel-item active">
                                                                                <div class="container"> <img class="d-block img-fluid" src="../assets/images/big/img1.jpg" alt="First slide"></div>
                                                                            </div>
                                                                            <div class="carousel-item">
                                                                                <div class="container"><img class="d-block img-fluid" src="../assets/images/big/img2.jpg" alt="Second slide"></div>
                                                                            </div>
                                                                            <div class="carousel-item">
                                                                                <div class="container"><img class="d-block img-fluid" src="../assets/images/big/img3.jpg" alt="Third slide"></div>
                                                                            </div>
                                                                        </div>
                                                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                                                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                                                                    </div>
                                                                    <!-- End CAROUSEL -->
                                                                </li>
                                                                <li class="col-lg-3 m-b-30">
                                                                    <h4 class="m-b-20">ACCORDION</h4>
                                                                    <!-- Accordian -->
                                                                    <div id="accordion" class="nav-accordion" role="tablist" aria-multiselectable="true">
                                                                        <div class="card">
                                                                            <div class="card-header" role="tab" id="headingOne">
                                                                                <h5 class="mb-0">
                                                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                                    Collapsible Group Item #1
                                                                                </a>
                                                                            </h5> </div>
                                                                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                                                                <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high. </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card">
                                                                            <div class="card-header" role="tab" id="headingTwo">
                                                                                <h5 class="mb-0">
                                                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                                    Collapsible Group Item #2
                                                                                </a>
                                                                            </h5> </div>
                                                                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                                                <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card">
                                                                            <div class="card-header" role="tab" id="headingThree">
                                                                                <h5 class="mb-0">
                                                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                                    Collapsible Group Item #3
                                                                                </a>
                                                                            </h5> </div>
                                                                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                                                <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="col-lg-3  m-b-30">
                                                                    <h4 class="m-b-20">CONTACT US</h4>
                                                                    <!-- Contact -->
                                                                    <form>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name"> </div>
                                                                            <div class="form-group">
                                                                                <input type="email" class="form-control" placeholder="Enter email"> </div>
                                                                                <div class="form-group">
                                                                                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                                                                                </div>
                                                                                <button type="submit" class="btn btn-info">Submit</button>
                                                                            </form>
                                                                        </li>
                                                                        <li class="col-lg-3 col-xlg-4 m-b-30">
                                                                            <h4 class="m-b-20">List style</h4>
                                                                            <!-- List style -->
                                                                            <ul class="list-style-none">
                                                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> You can give link</a></li>
                                                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Give link</a></li>
                                                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another Give link</a></li>
                                                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Forth link</a></li>
                                                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another fifth link</a></li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <!-- ============================================================== -->
                                                            <!-- End mega menu -->
                                                            <!-- ============================================================== -->
                                                            <li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </nav>
                                            </header>
                                            <!-- ============================================================== -->
                                            <!-- End Topbar header -->
                                            <!-- ============================================================== -->
                                            <!-- ============================================================== -->
                                            <!-- Left Sidebar - style you can find in sidebar.scss  -->
                                            <!-- ============================================================== -->
                                            <aside class="left-sidebar">
                                                <!-- Sidebar scroll-->
                                                <div class="scroll-sidebar">
                                                    <!-- User Profile-->
                                                    <div class="user-profile">
                                                        <div class="user-pro-body">
                                                            <div><img src="{{ asset('images/ADMIN/')}}{{ app.user.username }}.jpg" alt="user-img" class="img-circle" style="width: 121px;height: 126px;"></div>
                                                            <div class="dropdown">
                                                                <a href="javascript:void(0)" class="dropdown-toggle u-dropdown link hide-menu"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                                                                <div class="dropdown-menu animated flipInY">
                                                                    <!-- text-->
                                                                    <a  href="{{ path('fos_user_profile_show')}}" class="dropdown-item" ><i class="ti-user"></i> My Profile</a>
                                                                   
                                                                    <a href="{{ path('fos_user_security_logout') }}" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                                                                    <!-- text-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Sidebar navigation-->
                                                    <nav class="sidebar-nav">
                                                        <ul id="sidebarnav">
                                                            
                                                            <li> <a  href="{{path('home')}}" ><i class="icon-speedometer"></i>Dashboard</a>
                                                            
                                                        </li>
                                                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-bar-chart-alt"></i><span class="hide-menu">Reports</span></a>
                                                        <ul aria-expanded="false" class="collapse">
                                                            <li><a href="{{path('demande')}}">Demande Congé</a></li>
                                                            <li><a href="{{path('autorisation')}}">Demande autorisation</a></li>
                                                            <li><a href="{{path('attestation')}}">Demande attestation</a></li>
															 <li><a href="{{path('frais')}}">Note de Frais</a></li>
                                                        </ul>
                                                    </li>
                                                   <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-people"></i><span class="hide-menu">Employees</span></a>
                                                    <ul aria-expanded="false" class="collapse">
                                                        <li><a href="{{path('employes')}}">Employees</a></li>
                                                        <li><a href="{{path('employes_list')}}">Employee List</a></li>
                                                        
                                                    </ul>
                                                </li>
                                                 <li> <a  href="{{path('commande_index')}}"><i class="ti-panel"></i>Commandes</a>
                                                
                                            </li>
                                           
                                        </li>
                                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-login"></i><span class="hide-menu">Transactions</span></a>
                                        <ul aria-expanded="false" class="collapse">
                                            <li><a href="{{path('prodstat')}}">Trasaction Employe</a></li>
                                            <li><a href="{{path('statclient')}}">Trasaction Client</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li> <a class="waves-effect waves-dark" href="{{path('clients_index')}}" aria-expanded="false"><i class="icon-pin"></i><span class="hide-menu">Ajout Clients</span></a></li>
                                     <li> <a class="waves-effect waves-dark" href="{{path('tache_index')}}" aria-expanded="false"><i class="icon-pin"></i><span class="hide-menu">Ajout Taches</span></a></li>
                                     <li> <a class="waves-effect waves-dark" href="{{path('actualite_index')}}" aria-expanded="false"><i class="icon-pin"></i><span class="hide-menu">Ajout Actualité </span></a></li>
                                     <li> <a class="waves-effect waves-dark" href="{{path('convention_index')}}" aria-expanded="false"><i class="icon-pin"></i><span class="hide-menu">Ajout Convention </span></a></li>

                                    <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Apps</span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a href="{{path('images_index')}}">gallery</a></li>
                                        <li><a href="{{path('requette')}}">Requette</a></li>
					 <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                          <i class="ti-files"></i><span class="hide-menu"> historique</span></a>
                                          <ul aria-expanded="false" class="collapse">
                                         <li><a href="{{path('hitorique')}}">congés</a></li>
                                         <li><a href="{{path('hitorique_att')}}">autorisations</a></li>
                                         </ul>
                                       </li>
                                    </ul>
                                </li>
  
                        </li>
                        
         
<li> <a class="waves-effect waves-dark" href="{{ path('fos_user_security_logout') }}" aria-expanded="false"><i class="far fa-circle text-success"></i><span class="hide-menu">Log Out</span></a></li>
</ul>
</nav>
<!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->

<!-- ============================================================== -->
<div class="row page-titles">
<div class="col-md-5 align-self-center">
<h4 class="text-themecolor"> Welcome :
 {{ app.user.username }}
</h4>
</div>
<div class="col-md-7 align-self-center text-right">
<div class="d-flex justify-content-end align-items-center">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
<li class="breadcrumb-item active">Dashboard </li>
</ol>
</div>
</div>
 </div>
<div class="row">

 {% block body %}{% endblock %}
 </div>
</div>

<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Right sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<div class="right-sidebar">
    <div class="slimscrollright">
        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
        <div class="r-panel-body">
            <ul id="themecolors" class="m-t-20">
                <li><b>With Light sidebar</b></li>
                <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme working">1</a></li>
                <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme ">7</a></li>
                <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
            </ul>
           
        </div>
    </div>
</div>
</div>
</div>

<footer class="footer">
© 2019 ABS
</footer>
</div>
</div>


 {% endif %}

{% block javascripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>

<script src="{{asset('assets/node_modules/jquery/jquery-3.2.1.min.js')}}"></script>
<!-- Bootstrap popper Core JavaScript -->
<script src="{{ asset('assets/node_modules/popper/popper.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{ asset('dist/js/perfect-scrollbar.jquery.min.js') }}"></script>
<!--Wave Effects -->
<script src="{{ asset('dist/js/waves.js') }}"></script>
<!--Menu sidebar -->
<script src="{{ asset('dist/js/sidebarmenu.js') }}"></script>
<!--Custom JavaScript -->
<script src="{{ asset('dist/js/custom.min.js') }}"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!--morris JavaScript -->
<script src="{{ asset('assets/node_modules/raphael/raphael-min.js') }}"></script>
<script src="{{ asset('assets/node_modules/morrisjs/morris.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/jquery-sparkline/jquery.sparkline.min.js') }}"></script>
<!-- Popup message jquery -->
<script src="{{ asset('assets/node_modules/d3/d3.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/c3-master/c3.min.js') }}"></script>
<!-- Chart JS -->
<script src="{{ asset('dist/js/dashboard1.js') }}"></script>
<!-- datatable -->
<script src="{{ asset('assets/node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<!-- Tickers -->
<script src="{{ asset('dist/js/jquery.webticker.min.js') }}"></script>
<script src="{{ asset('dist/js/fastclick.js') }}"></script>
<script src="{{ asset('dist/js/web-ticker.js') }}"></script>
<script type="text/javascript">
$(function() {
$('#cc-table').DataTable({
"displayLength": 10
});
$("#live").perfectScrollbar();
$("#task1").perfectScrollbar();
$("#task2").perfectScrollbar();
$("#task3").perfectScrollbar();
});

    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker();
    });
</script>

{% endblock %}
    </body>
</html>
