{% extends 'base.html.twig' %}

{% block body %}
 <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                
                                <h4 class="card-title">List des commandes</h4>
                                
                                <button type="button" class="btn btn-success m-b-40">    
                                <a href="{{ path('commande_new') }}" style="color: #ffffff;"><i class="icon-plus"></i> Create a new commande</a></button>
                                <div class="table-responsive">
                                
                                    <table class="table stylish-table">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Client</th>
                                            <th>Produit</th>
                                            <th>Commercial</th>
                                            <th>date Reception</th>
                                            <th>Statut</th>
                                            <th>Avancement</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for commande in commandes %}
                                        <tr>
                                            <td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                                            <td>{{ commande.nom}}</td>
                                            <td>{% if commande.produit %}{{ commande.produit }}{% endif %}</td>
                                            
                                            <td>{{ commande.commercial }}</td>
                                        
                                            <td>{{ commande.reception }}</td>
                                            <td><span class="label {% if commande.statut == "URGENT" %} label-danger
                                             {% elseif commande.statut == "EN COURS" %} label-info {% elseif commande.statut == "EN ATTENTE" %} label-primary
                                                {% else %} label-success {% endif %}">{{ commande.statut }}</span></td>
                                            <td><div class="progress mt-1" style="background-color: #dde1e4;">
                                                    <div class="progress-bar bg-info" style="width: {{ commande.avancement }}%; height:12px;" role="progressbar">{{ commande.avancement }} %</div>
                                                </div></td>
                                        
                                            <td>
                                                
                                                <a href="{{ path('commande_show', { 'id': commande.id }) }}"><i class="icon-eye"></i></a>
                                                <a href="{{ path('commande_edit', { 'id': commande.id }) }}" style="margin-left: 16px;"><i class="mdi mdi-border-color" ></i></a>
                                                <a href="{{ path('commande_pdf', { 'id': commande.id }) }}" style="margin-left: 16px;" target="_blank"><i class="icon-layers" ></i></a>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
  
{% endblock %}
