{% extends 'base.html.twig' %}

{% block body %}

                    <div class="col-lg-6 col-xlg-6 col-md-6">
                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist" style="background-color: ivory;">

                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" >Details commande</a> </li>
                            </ul>
                            <!-- Tab panes -->

                                <div class="tab-pane" id="settings" role="tabpanel">
                                    <div class="card-body">
                                        <form class="form-horizontal form-material">
                                            <div class="form-group">
                                                <label class="col-md-12">Client</label>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="{{ commande.nom  }}" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Produit </label>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="{{ commande.produit }}" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="example-email" class="col-md-12">Désignation</label>
                                                <div class="col-md-12">
                                                    <input type="email" placeholder="{% if commande.designation %}{{ commande.designation|join('  ,  ') }}{% endif %}" class="form-control form-control-line" name="example-email" id="example-email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="example-email" class="col-md-12">Réference</label>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder='{% if commande.ref %}{{ commande.ref|join('  ,  ') }}{% endif %}' class="form-control form-control-line" name="example-email" id="example-email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Devis</label>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder='{% if commande.devis %}{{ commande.devis|join('  ,  ') }}{% endif %}' class="form-control form-control-line">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-12">Date reception Brief </label>
                                                <div class="col-md-12">
                                                    <input type="date" value="{% if commande.brief %}{{ commande.brief }}{% endif %}" class="form-control form-control-line">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-12">Date reception Echantillons </label>
                                                <div class="col-md-12">
                                                    <input type="date" value="{% if commande.reception %}{{ commande.reception }}{% endif %}" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Date de lancement de prod : </label>
                                                <div class="col-md-12">
                                                    <input type="date" value="{% if commande.delancement %}{{ commande.delancement }}{% endif %}" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Deadline </label>
                                                <div class="col-md-12">
                                                    <input type="date" value="{% if commande.deadline %}{{ commande.deadline }}{% endif %}" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12" style="color:darkred">Lien de dossier </label>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="{{ commande.lien }}" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12" style="color:darkred">Lien serveur </label>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="{{ commande.lienEspace }}" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12" style="color:darkred">Lien prod </label>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="{{ commande.lienProd }}" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12" style="color:#1A53F0"> Commentaire </label>
                                                <div class="col-md-12 mt-3 ">
                                                    <textarea placeholder="{{ commande.commentaire }}" class="form-control form-control-line" rows="4"></textarea>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Avancement <a class="voir plus" data-toggle="collapse" href="#pgr2" aria-expanded="true">
                                                            <i class="fa fa-code" title="" data-toggle="tooltip" data-original-title="voir plus">

                                                            </i></a></h5>
                                                    <div class="collapse m-t-15" id="pgr2"> <pre class="line-numbers language-javascript">avancement du travail en fonction du temps limite </pre></div>
                                                    <div class="progress m-t-20" style="background-color: #d5dce4;">
                                                        <div class="progress-bar bg-success" style="width: {{ commande.avancement }}%; height:15px;" role="progressbar">{{ commande.avancement }} %</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="col-lg-5 col-xlg-5 col-md-5 ml-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="profiletimeline">
                                <div class="sl-item">
                                    <div class="sl-left"></div>
                                    <div class="sl-right">
                                        <div><a href="javascript:void(0)" class="link">Equipe :</a>
                                            <div class="row m-t-20">
                                                {% if commande.equipe %}{{ commande.equipe|join('\n')| nl2br }}{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="sl-item">

                                    <div class="sl-right">
                                        <div> <a href="javascript:void(0)" class="link">Commerciale</a>
                                            <div class="m-t-20 row">
                                                <div class="col-md-12 col-xs-12">
                                                    {% if commande.commercial %}{{ commande.commercial }}{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="sl-item">

                                    <div class="sl-right">
                                        <div> <a href="javascript:void(0)" class="link">Manager</a>
                                            <div class="m-t-20 row">
                                                <div class="col-md-12 col-xs-12">
                                                    {% if commande.managr %}{{ commande.managr }}{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="sl-item">

                                    <div class="sl-right">
                                        <div> <a href="javascript:void(0)" class="link">Account manager</a>
                                            <div class="m-t-20 row">
                                                <div class="col-md-12 col-xs-12">
                                                    {% if commande.manager %}{{ commande.manager }}{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="sl-item">

                                    <div class="sl-right">
                                        <div> <a href="javascript:void(0)" class="link">Da</a>
                                            <div class="m-t-20 row">
                                                <div class="col-md-12 col-xs-12">
                                                    {% if commande.da %}{{ commande.da }}{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="profiletimeline">
                                <div class="sl-item">
                                    <div class="sl-left"></div>
                                    <div class="sl-right">
                                        <div><div class="alert alert-info alert-rounded">Livrables
                                            </div>
                                            <div class="row m-t-20">
                                                {% if commande.livrable %}{{ commande.livrable|join('\n')| nl2br }}{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>

                                <div class="sl-item">

                                    <div class="sl-right">
                                        <div> <a href="javascript:void(0)" class="link">Quantite :</a>
                                            <div class="m-t-20 row">
                                                <div class="col-md-12 col-xs-12">
                                                    {% if commande.quantite %}{{ commande.quantite }}{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                                <div class="sl-item">

                                    <div class="sl-right">
                                        <div> <a href="javascript:void(0)" class="link">statut :</a>
                                            <div class="m-t-20 row">
                                                <div class="col-md-12 col-xs-12">
                                                   <span class="label {% if commande.statut == "URGENT" %} label-danger
                                             {% elseif commande.statut == "EN COURS" %} label-info {% elseif commande.statut == "EN ATTENTE" %} label-primary
                                                {% else %} label-success {% endif %}">{{ commande.statut }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                    <button type="button" class="bbtn waves-effect waves-light btn-rounded btn-outline-secondary"> <a href="{{ path('commande_index') }}">Back to the list</a></button>
                </div>


    <style>
        a.link {
            color: #b810e0;
        }
    </style>
{% endblock %}
