{% extends 'base.html.twig' %}

{% block body %}
            {% for msg in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {% endfor %}
            <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="d-flex flex-row">
                                <div class="p-10 bg-info">
                                    <h3 class="text-white box m-b-0"><i class="ti-wallet"></i></h3></div>
                                <div class="align-self-center m-l-20">
                                    <h3 class="m-b-0 text-info">{{ statcongTotal[0]['retourtotal']}}</h3>
                                    <h5 class="text-muted m-b-0">Demandes de remboursement</h5></div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="d-flex flex-row">
                                <div class="p-10 bg-success">
                                    <h3 class="text-white box m-b-0"><i class="ti-wallet"></i></h3></div>
                                <div class="align-self-center m-l-20">
                                    <h3 class="m-b-0 text-success">{% if (statcong[0]['retour']) is defined  %}{{ statcong[0]['retour'] }}{% endif %}</h3>
                                    <h5 class="text-muted m-b-0">demandes en attentes</h5>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="d-flex flex-row">
                                <div class="p-10 bg-inverse">
                                    <h3 class="text-white box m-b-0"><i class="ti-wallet"></i></h3></div>
                                <div class="align-self-center m-l-20">
                                    <h3 class="m-b-0">{% if (statcongacc[0]['retour']) is defined  %}{{ statcongacc[0]['retour'] }}{% endif %}</h3>
                                    <h5 class="text-muted m-b-0">demandes acceptés</h5></div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="d-flex flex-row">
                                <div class="p-10 bg-primary">
                                    <h3 class="text-white box m-b-0"><i class="ti-wallet"></i></h3></div>
                                <div class="align-self-center m-l-20">
                                    <h3 class="m-b-0 text-primary">{% if (statcongruf[0]['retour']) is defined  %}{{ statcongruf[0]['retour'] }}{% endif %}</h3>
                                    <h5 class="text-muted m-b-0">demandes refusés</h5></div>
                            </div>
                        </div>
                    </div>
                      
                    <!-- Column -->
                
                    <form   style="width: 97%;margin-left: 21px;" method="post" action="{{ path('frais') }}">
                            <div class="row bsearch">
                                
                                <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">site select</label>
                                    <select class="form-control" name="poste">

                                    <option >Tunis</option>
                                    <option >Paris</option>
                                    <option >Tourcoing</option>
                                   
                                </select>
                                
                            </div>
                        </div>
                                <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">statut select</label>
                                    <select class="form-control" name="status">
                                    <option value="1">acceptes</option>
                                    <option value="0">en attente</option>
                                    <option value="2">refuses</option>
                                </select>
                                
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                    <label for="usr">search:</label>
                                    <input type="submit" class="form-control btn btn-primary" name="valide">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Demande des remboursement</h4>
                               
                                <div class="table-responsive">
                                    <table class="table full-color-table full-default-table hover-table">
                                        <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>nom</th>
                                                <th>prenom</th>
                                                <th>site</th>
                                                <th>T.depense</th>
                                                <th>date</th>
                                                <th>M.TTC</th>
                                                <th>M.TVA</th>
                                                <th>M.NET</th>
                                                
                                                <th>description</th>
                                                <th>Facture</th>
                                                
                                                <th>Action</th>
                                                <th></th>
                                                <th>reponse</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                         {% for frais in frais|reverse%}
                                            <tr>
                                                <td>{{ frais.id }}</td>
                                                <td>{{ frais.nom|e }}</td>
                                                <td>{{ frais.prenom|e }}</td>
                                                <td><span class="label label-danger">{{ frais.site }}</span></td>
                                                <td>{{ frais.typeDepense}}</td>
                                                <td >{{ frais.date|date("d/m/Y") }}</td>
                                                <td>{{ frais.ttc }}</td>
                                                <td>{{ frais.tva }}</td>
                                                <td>{{ frais.net }}</td>
                                                <td>{{ frais.description }}</td>
                                                  {% if frais.certif is empty %}
                                                <td><span>--</span></td>
                                                {% else %}
                                                    <td style="width: 10%;"><a href="http://3dforyou.3dfordeco.com/img/facture/{{ frais.certif}}" target="_blank"><img src="{{ asset('images/pdf.png') }}" style="width: 30%;" /></a></td>
                                                {% endif %}
                                                <td><a  href="{{ path('note',{'id': frais.id}) }}">
                                                <button name="accept" type="submit" class="btn waves-effect waves-light btn-success">accepter</button></a></td>
                                                 <td><a href="{{ path('notef',{'id': frais.id}) }}" > 
                                                 <button type="button" name="refus" class="btn waves-effect waves-light btn-danger">refuser</button></a></td>
                                                  </a> <td>{% if frais.retour == 0 %} <p>en attente</p> {% elseif frais.retour == 1 %} <p>accepté</p> {% else %}<p>refusé </p>{% endif %}</td>
                                            </tr>
                                            {% endfor %}  
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}


        