{% extends 'base.html.twig' %}

{% block body %}
  
<form method="post" action="{{ path('production_index') }}">
<div class="col-12">
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="exampleFormControlSelect1">superviseur select</label>
            <select class="form-control" name="supervis">
            <option>superviseur</option>
              {% for superviseur in superviseur %}
            <option >{{ superviseur.nom }} {{ superviseur.prenom }} </option>
            {% endfor %}
            </select>
        </div>
   </div>
 

 
   <div class="col-md-2">
     <div class="form-group">
                    <label for="usr">search:</label>
                    <input type="submit" class="form-control btn btn-primary" name="submit">
        </div>
    </div>
</div>
</form>
<div class="card">
<div class="card-body">
<h4 class="card-title">Data production</h4>


            <a href="{{ path('production_new') }}"><input type="button"  class="btn btn-primary" value="Create a new tache" style="cursor: pointer;"/></a>
        
<div class="table-responsive m-t-40">
<table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
<thead>
        <tr>
            <th>date</th>
            <th>Iduser</th>
            <th>Taches</th>
            <th>Clients</th>
            <th>Commande</th>
            <th>Superviseur</th>
            <th>Detail</th>
            <th>Note</th>
            <th>Estime</th>
            
            <th>Tempspasse</th>
            
            
            <th>Actions</th>
        </tr>
</thead>

  <tbody>
        {% for production in productions %}
            <tr>
             <td>{% if production.dateTache %}{{ production.dateTache|date('d-m-Y H:m') }}{% endif %}</td>
               
                <td>
                 <a href="javascript:void(0)"><img src="../images/{{ production.users.poste}}/{{ production.users.nom}}{{ production.users.prenom}}.jpg" 
                 alt="user" width="40" class="img-circle"> {{ production.users.nom }} {{ production.users.prenom }} </a>
                 </td>
                <td>{{ production.tache.nom }}</td>
                <td>{{ production.clients.nomc }}</td>
                <td>{{ production.commande }}</td>
                <td>
                 <a href="javascript:void(0)"> {{ production.Superviseur }}  </a>
                </td>
                <td>{{ production.detail }}</td>
                <td>{{ production.note }}</td>
                <td>{% if production.estime %}{{ production.estime }}{% endif %}</td>
                <td><form method="post" action="{{ path('production_index') }}" >
                <input type="hidden" name="idprod" value="{{ production.id_prod  }}">
                <input class="pass" type="number" step="0.01"  value="{{ production.tempsPasse  }}" name="temppass"><input  class="btnpass" type="submit"></form></td>
                
               
                <td>
                <div class="label label-table label-success">
                <a href="{{ path('production_edit', { 'id_prod': production.id_prod }) }}" style="font-size: 14px;color: #f3ecea;">edit</a></div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
</table>

</div>
</div>
</div>





<!-- ============================================================== -->
<script src="../assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="../assets/node_modules/popper/popper.min.js"></script>
<script src="../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->


<!--stickey kit -->
<script src="../assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="../assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<!-- This is data table -->
<script src="../assets/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="../../../../cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="../../../../cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="../../../../cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="../../../../cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="../../../../cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="../../../../cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="../../../../cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
<!-- end - This is for export functionality only -->
<script>
$(function() {
$('#myTable').DataTable();
$(function() {
var table = $('#example').DataTable({
"columnDefs": [{
"visible": false,
"targets": 2
}],
"order": [
[2, 'asc']
],
"displayLength": 25,
"drawCallback": function(settings) {
var api = this.api();
var rows = api.rows({
page: 'current'
}).nodes();
var last = null;
api.column(2, {
page: 'current'
}).data().each(function(group, i) {
if (last !== group) {
$(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
last = group;
}
    });
    }
        });
        // Order by the grouping
        $('#example tbody').on('click', 'tr.group', function() {
        var currentOrder = table.order()[0];
        if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
        table.order([2, 'desc']).draw();
        } else {
        table.order([2, 'asc']).draw();
        }
        });
    });
});
$('#example23').DataTable({
dom: 'Bfrtip',
buttons: [
'excel', 'pdf', 'print'
]
});
$('.buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
</script>

<style>
.btnpass{
    font-size: 12px;
    /* color: #f3ecea; */
    padding: 5px;
    background-color: #c798a1;
    border: none;
    border-radius: 10%;
    margin-left: 6px;
}
.pass{
    border: outset;
    width: 54%;
    text-align: center;
}
</style>

{% endblock %}

