{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Password</th>
                <th>Email</th>
                <th>Avatar</th>
                <th>Poste</th>
                <th>Avis</th>
                <th>Active</th>
                <th>Date</th>
                <th>Birthday</th>
                <th>Conge</th>
                <th>Taux</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.passWord }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.avatar }}</td>
                <td>{{ user.poste }}</td>
                <td>{{ user.avis }}</td>
                <td>{{ user.active }}</td>
                <td>{% if user.date %}{{ user.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ user.conge }}</td>
                <td>{{ user.taux }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('users_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('users_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
