{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tache</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tache.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tache.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ tache.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tache_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tache_edit', { 'id': tache.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
